<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp Grounds</title>
</head>
<body>
    <h1>All Camp Grounds</h1>
    <ul>
        <% for(let camp of campgrounds) {%>
            <li><a href="/campgrounds/show/<%= camp._id %>"><%= camp.title %></a></li>
        <% } %>
    </ul>
    <a href="/campgrounds/new">Add New Camp Ground</a>
</body>
</html>