<% layout('./boilerplate/main') %>
    <h1>All Camp Grounds</h1>
    <ul>
        <% for(let camp of campgrounds) {%>
            <li><a href="/campgrounds/<%= camp._id %>/show"><%= camp.title %></a></li>
        <% } %>
    </ul>
    <a href="/campgrounds/new">Add New Camp Ground</a>