<% layout('./boilerplate/main') %>
    <h1>camp</h1>
    <h1><%= campground.title %></h1>
    <p><%= campground.location %></p>
    <a href="/campgrounds">back to background</a>
    <form method="post" action="/campgrounds/<%=campground._id%>?_method=delete">
        <button>delete</button>
    </form>
    <form method="get" action="/campgrounds/edit/<%=campground._id%>">
        <button>Edit</button>
    </form>
    <a href="/campgrounds">back to background</a>
   